

<div class="footer-padding"></div>
  <div class="footer">
<!--     <p style="padding-right: 50px;">Contact us</p> -->
<!--     <p>Made with ❤️ by Nova CS Students</p> -->
  </div>
</div>
</body>
</html>
