

<div class="footer-padding"></div>
  <div class="footer" style=" background-color: black;">
    <p>Contact us</p>
    <p style="color:white;">Made with ❤️ by Nova CS Students</p>
  </div>
</div>
</body>
</html>
