<%- include("partials/header"); -%>
<h1>Villanova Software Development Society</h1>
<br>
<p>Welcome to the Villanova Software Development Society Homepage!</p>
<p>We are a group of Villanova students building the software products not currently on the Villanova campus. </p>
<br>
<br>
<br>
<br>
<br>
<p>Click below to submit a project you want added to campus hello</p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeBTNmZFa7j29AbjihHK-PDDIgmUpe6kQhEoVMbRxRuCCq8wQ/viewform?usp=sf_link">Submit an Idea!</a>
<%- include("partials/footer"); -%>