<%- include("partials/header"); -%>
<br>
<p>Looking to go into a career in programming? Do you have a passion for developing software products and want experience creating products that the Villanova community will use every day?
Join the Villanova Software Development Society! We are a group of students passionate in programming creating products not currently in the Villanova ecosystem.
</p>
<br>
<br>
<p>Click below to submit an idea you would like to see on campus, or apply to join the team</p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeBTNmZFa7j29AbjihHK-PDDIgmUpe6kQhEoVMbRxRuCCq8wQ/viewform?usp=sf_link">Submit an Idea!</a><a href="https://docs.google.com/forms/d/e/1FAIpQLSduyNugU8-xtqRJZpdzTPsWa_1I_dHf-ibuFI7TbBxdcmlqQw/viewform?usp=sf_link">Join The Team!</a>
<%- include("partials/footer"); -%>