<%- include("partials/header"); -%>
<h1 style="margin-left: 25px;">Meet The Team</h1>
<div style="display:inline-flex">
    <div class="card intro-card" style="width: 18rem;">
        <img src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Danial Bekhit</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Linkedin: </li>
          <li class="list-group-item">GitHub: </li>
          <li class="list-group-item">Resume: </li>
        </ul>
        <div class="card-body">
        </div>
      </div>
    
    <div class="card intro-card" style="width: 18rem;">
        <img src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Diego Messmacher</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Linkedin: </li>
          <li class="list-group-item">GitHub: </li>
          <li class="list-group-item">Resume: </li>
        </ul>
        <div class="card-body">
        </div>
      </div>
    
    
    <div class="card intro-card" style="width: 18rem;">
        <img src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Holden Cormier</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="https://www.linkedin.com/in/holden-cormier/">Linkedin</a></li>
          <li class="list-group-item">GitHub: </li>
          <li class="list-group-item">Resume: </li>
        </ul>
        <div class="card-body">
        </div>
      </div>
    
    <div class="card intro-card" style="width: 18rem;">
        <img src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">TJ Nolan</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Linkedin: </li>
          <li class="list-group-item">GitHub: </li>
          <li class="list-group-item">Resume: </li>
        </ul>
        <div class="card-body">
        </div>
      </div>
</div>
<%- include("partials/footer"); -%>