<%- include("partials/header"); -%>
<div class="container">
<h1 style="margin-left: 25px;">Meet The Team</h1>
<div style="display:inline-flex">
    <div class="card intro-card" style="width: 18rem;">
        <img src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Danial Bekhit</h5>
<!--           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="https://www.linkedin.com/in/danial-bekhit-96xal/">Linkedin</a></li>
          <li class="list-group-item"><a href="https://github.com/dbw7">GitHub</a></li>
<!--           <li class="list-group-item">Resume: </li> -->
        </ul>
        <div class="card-body">
        </div>
      </div>
    
    <div class="card intro-card" style="width: 18rem;">
        <img src="https://cdn.discordapp.com/attachments/1007326188605280330/1012388855015542794/unknown.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Diego Messmacher</h5>
<!--           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Linkedin: </li>
          <li class="list-group-item">GitHub: </li>
<!--           <li class="list-group-item">Resume: </li> -->
        </ul>
        <div class="card-body">
        </div>
      </div>
    
    
    <div class="card intro-card" style="width: 18rem;">
        <img src="https://cdn.discordapp.com/attachments/1007427354685087784/1007428291042476032/HoldenCormier-Headshot.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Holden Cormier</h5>
<!--           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="https://www.linkedin.com/in/holden-cormier/">Linkedin</a></li>
          <li class="list-group-item"><a href="https://github.com/holden-cormier">GitHub</a></li>
<!--           <li class="list-group-item">Resume: </li> -->
        </ul>
        <div class="card-body">
        </div>
      </div>
    
    <div class="card intro-card" style="width: 18rem;">
        <img src="https://cdn.discordapp.com/attachments/1007427354685087784/1013571523191255060/tj-nolan-headshot.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">TJ Nolan</h5>
<!--           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="https://www.linkedin.com/in/terrencenolan/">Linkedin</a></li>
          <li class="list-group-item"><a href="https://github.com/terrence-nolan">GitHub</a></li>
<!--           <li class="list-group-item">Resume: </li> -->
        </ul>
        <div class="card-body">
        </div>
      </div>
</div>
</div>
<%- include("partials/footer"); -%>