<%- include("partials/header"); -%>
<div class="container">
<h1>Important Information</h1>
<h4>Meeting Times</h4>
<p>The Villanova Software Development Society has a "all-hands" meeting every Thursday afternoon 5:30.
    This meeting should usually last for about one hour and is a general recap of the work we did during the week
    and future goals. However, some of the bigger projects we plan on developing will require smaller teams to meet
    more often than that. The starting time and length of these meetings will be dependent on the team working on
    the task at hand of that meeting.
</p>
<h4>Available Positions</h4>
<p>Since we are a brand new club, there are still many positions of importance that are yet to be taken. Although you
    are not required to hold any of these positions, they will not only give you an opportunity to gain experience in
    different fields of software engineering, they will also give you more infuence on different aspects of upcoming 
    projects. (Note: Certian positions may require you to attend more meetings than the ones mentioned above)
</p>
<h4>Projects</h4>
<p>Projects will be decided and announced during the all-hands meetings mentioned above. If you or any of your friends
    have any ideas of software that you would like added to the Villanova ecosystem there is a link to a google forms
    where you can submit ideas!
</p>
<h1>FAQ</h1>
<h4>Q1:</h4>
<q>How can I join the club?</q>
<h4>A1:</h4>
<q>In the home page of </q>
</div>
<%- include("partials/footer"); -%>