<%- include("partials/header"); -%>
<h1  class = "thanks">Thank you! <%=name%></h1>
<h1></h1>
<h1></h1>
<script>
    var timeout = 10000;
    setTimeout(function () {
      window.location = "https://villanova-sds.herokuapp.com";
    }, timeout);
  </script>