<%- include("partials/header"); -%>
<h1 style="margin-top: 10%;">Thank you!</h1>
<script>
    var timeout = 10000;
    setTimeout(function () {
       window.location = "http://localhost:3000/";
    }, timeout);
  </script>